

:root {
  --red: #dd4470;
  --pink: #fe72a9;
  --green:#c6df76;
  --tan:#ffe3b3;
}

* {
  padding: 0;
  margin: 0;
}

header {
  margin-top: 2%;
}
.title-cont{
  display: flex;
  justify-content: space-between;
}

.title-cont img{
  width: 20%;
margin: 0 auto;

}
.title-cont h2{
font-size: 3.5rem;
align-self: center;
margin: 0 auto;
}
.search {
  margin-top: 3%;
  text-align: center;
}
.search input {
padding: .5%;
width: 20%;
border-radius: 20px;
}
.search button {
  border-radius: 20px;
  margin-left: .5%;
  width: 5rem;
  padding: .5%;
}
.profile-container{
  border: 1px solid;
  padding: 1%;
}
.personal-info >* {
  width: 15%;
}
.personal-info img {
  border-radius: 50%;
}
.personal-info p {
  text-align: center;
}
.personal-info a {
  display: block;
  text-align: center;
  border: 1px solid;
}
.personal-info h3{
  font-size: 1.6rem;
  text-align: center;
}
.personal-info h4 {
  font-size: 1.3rem;
  text-align: center;
}