

:root {
  --red: #dd4470;
  --pink: #fe72a9;
  --green:#c6df76;
  --tan:#ffe3b3;
}

* {
  padding: 0;
  margin: 0;
}
body{
  background-color: var(--tan) !important;
}
button{
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

header {
  margin-top: 2%;
}
.title-cont{
  display: flex;
  justify-content: space-between;
}

.title-cont img{
  width: 15%;
margin: 0 auto;


}
.title-cont h2{
font-size: 3.5rem;
align-self: center;
margin: 0 auto;
}
.search {
  margin-top: 3%;
  text-align: center;
}
.search input {
padding: .5%;
width: 20%;
border-radius: 20px;
}
.search button {
  border-radius: 20px;
  margin-left: .5%;
  width: 5rem;
  padding: .5%;
  background-color: var(--green);
}
.profile-container{

  width: 85%;
  margin: 2% auto;
  border-radius: 20px;
  display: flex;
  padding: 1%;
  background-color: var(--pink);
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);

}
.personal-info {
  width: 15%;
}
.personal-info img {
  border-radius: 50%;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}
.personal-info p {
  text-align: center;
  
}
.personal-info a {
  display: block;
  text-align: center;
  border: 1px solid;
}
.personal-info h3{
  font-size: 1.6rem;
  text-align: center;
}
.personal-info h4 {
  font-size: 1.3rem;
  text-align: center;
}
.profile-info{
  width: 85%;
  padding: 3%;
  align-self: center;
}
.profile-info p{
  text-align: center;
  font-size: 1.6rem;
  color: white;
}
.profile-info button {
  background-color: var(--tan);
  padding: .5%;
  pointer-events: none;
  margin-right: .5%;
  border-radius: 5px;
}
.repositories-gist-bottom {
  
}
.repos-container {
  background-color: var(--green);
  width: 90%;
  padding: 1%;
  margin: 2% auto;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}
.repos-container a {
  display: block;
  text-align: center;
  font-size: 1.5rem;
}
.repos-title {
  text-align: center;
  font-size: 1.6rem;
}
.repos-container p{
  margin-top: 1%;
  font-size: 1.1rem;
  text-align: center;
}
.repos-container button {
  padding: .5rem;
  border-radius: 5px;
  background-color: var(--red);
  color: white;
}
.last-update{
  text-align: end !important;
  font-size: .8rem !important;
}
